<nav class="navContainer">
    <ul class="nav-ul">
        <li><a href="/" class="nav-item">Inicio</a></li>
        <li><a href="/products/?category=placas" class="nav-item">Placas de video</a></li>
        <li><a href="/products/?category=procesadores" class="nav-item">Procesadores</a></li>
        <li><a href="/products/?category=ram" class="nav-item" >Rams</a></li>
       
        <li>
         <a href="/cart" class="nav-item" >        
           <span class="material-symbols-outlined">
            shopping_cart
            </span>  
            <samp id="spamCart" style="color: antiquewhite;"></samp>
         </a>
        </li>
        <li id="btnCerrarSession"  class="nav-item" >Cerrar sesion</li>
    </ul>

</nav>


<div class="productsContainer">
    {{#each products}}
    <div class="productCard">
        <img src={{this.img}} alt={{this.description}}>
        <p>Description: {{this.description}} </p>
        <p>Price: $ {{this.price}} </p> 
        <button id="btn-subtract-product" class="btn-subtract-product">-</button>
        <span id="spam-quantity" class="spam-quantity">1</span>
        <button id="btn-add-more-product" class="btn-add-more-product"  data-stock="{{this.stock}}">+</button>
        <button class="btnCard"  data-product-id="{{this._id}}" >Add to cart</button>
    </div>
    {{/each}}
</div>


    {{#if hasPrevPage}}
    <div class="btnsContainer"></div>
    <a href="/products/?page={{prevPage}}"><button> < Anterior</button> </a>
    {{/if}}

    <div class="numberPage">
   {{page}}
    </div>
  

    {{#if hasNextPage}}
    <a href="/products/?page={{nextPage}}"><button>Próxima > </button> </a>
    </div>
    {{/if}}



 <script src="../public/js/home.js" ></script> 
<script src="/socket.io/socket.io.js"></script>
