{{#each productsList}}
    <article class="col s12 m6 l3">
        <div class="card">
            {{!-- <div class="card-image">
                <img src="images/sample-1.jpg">
                <span class="card-title">{{title}}</span>
            </div> --}}
            <div class="card-content">
                <h2>{{title}}</h2>
                <p>Description {{description}}</p>
            </div>
            <div class="card-action">
                <p><b>Precio: {{price}}</b></p>
                <span>Stock: {{stock}}</span>
                <span>Código: {{code}}</span>
                {{!-- <a href="#">libro</a> --}}
                {{!-- <a href="#">Peli</a> --}}
            </div>
        </div>
    </article>
    {{/each}} 
<script src="/js/index.js"></script>